/* css/login-page.css */

body {
    background-color: #f8f9fa; /* Ganti warna latar belakang sesuai kebutuhan */
}

.container-fluid {
    height: 100vh; /* Buat container-fluid mengisi tinggi layar */
}

.row {
    height: 100%; /* Buat row mengisi tinggi container-fluid */
}

.login-box {
    background-color: #ffffff; /* Ganti warna latar belakang login-box sesuai kebutuhan */
    margin: 0 auto 20px;
    padding-top: 100px; /* Atur padding atas */
    padding-right: 150px; /* Atur padding kanan */
    padding-left: 100px; /* Atur padding kiri */
    flex-direction: column;
    justify-content: center;
}
.login-box form {
    max-width: 400px; /* Batasi lebar formulir */
    margin: 0 auto; /* Pusatkan formulir */
}
.login-box h1 {
    margin-bottom: 20px; /* Tambahkan margin-bottom pada teks "Welcome to TaskTrap" */
}
.login-box button {
    width: 100%; /* Buat tombol mengisi lebar maksimal */
    margin-top: 10px; /* Atur jarak atas tombol */
}
.background-box {
    background-color: #0080ff; /* Ganti path gambar sesuai kebutuhan */
    background-size: cover;
    background-position: center;
    height: 100%; /* Buat background-box mengisi tinggi row */
}
