*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #fff;
}

/********** Main **********/

main {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 40%;
}

.container h1{
    text-align: center;
    margin-bottom: 6vh;
}

.container .text-input {
    width: 100%;
    margin: 10px;
    height: 4vh;
    border: 1px #B7B7B7 solid;
    box-shadow: 0.5px 0.5px 2px 0 #737373;
    border-radius: 3px;
    text-indent: 5px;
    outline: none;
    transition: all;
    transition-duration: 200ms;
}

.container .text-input:focus{
    box-shadow: 0 0 2px 1px #0073EA;
}

.container .text-input::placeholder {
    color: #9D9D9D;
    text-indent: 5px;
}

.container .login-button {
    background-color: #0073EA;
    width: 100%;
    margin: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.container .login-button button {
    background-color: inherit;
    color: #fff;
    border: none;
    width: 100%;
    height: 4vh;
    cursor: pointer;
    border-radius: 3px;
    transition: all;
    transition-duration: 100ms;
}

.container .login-button button:hover {
    background-color: #0350A1;
}

.container .register {
    color: #000000;
    margin-left: auto;
    font-size: 12px;
}

.container .register .register-button {
    text-decoration: none;
}

/********** Side **********/

aside {
    background-color: #9ACEFF;
    flex: 40%;    
}